/*---navbar---*/
.navbar{
    border-radius: 5px;
    color: blanchedalmond !important;
    font-size: 26px;
    position: relative;
    font-family: 'Shadows Into Light', cursive;

}


/*---jumbotron---*/
.jumbotron{
    background-color: rgb(61, 173, 218);
    color: black;
    border-radius: 10px;
    width: 100%;
   
}

/*---breadcrumb---*/
.breadcrumb-item {
    font-family: 'Shadows Into Light', cursive;
}


/*--- Footer---*/
footer{
    padding: 5px 5px 0 5px;
    background-color: rgb(61, 173, 218);
    color:black;
    margin-bottom: 0px;
    margin-top: 50px;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    font-family: 'Shadows Into Light', cursive;

    text-align: justify;
}

.footer-address-icon{
    padding-right: 10px;
}
footer p
{
    text-align: justify;
}

.avatar
{
    border: 5px solid blanchedalmond;
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}

/*---body---*/
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-right: 10px;
   border-radius: 10px;
   background-color:rgb(255, 255, 255);
}

.btn-reserva{
    font-family: 'Shadows Into Light', cursive;
    width: 100%;
    border-radius: 0px;
}

.container-sm{
    background-color: rgb(176, 225, 245);
  
}

.btn-leer{
    font-family: 'Shadows Into Light', cursive;
    width: 100%;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}


.boton{
    width: 10%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oferta-img{
    width: 1100px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content{
    padding-top: 10px;
}


